/* image */
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
/* background image */
#mainimg
{
    height: 171vh;
    width: 106.5vw;
    position: absolute;
    top: 0;
    right: -401px;
}
body
{
    /* z-index: 1; */
    position: relative;
    overflow-x:hidden ;
}
/* header line */
#header-line-1
{
    position: relative;
    padding-top: 1rem;
    background: white;
    padding-left: 76rem;
    top: 1rem;
    right: -29px;
}
#header-line-2
{
    position: relative;
    padding-top: 1rem;
    background: white;
    top: 2rem;
    width: 8rem;
    left: 29px;
}
#header-row-1
{
    position: absolute;
    width: 100vw;
    height: 194vh;
    background-image: linear-gradient(to right, rgb(255 120 62 / 69%) 60%, rgba(255, 255, 255, 0)40%);
    z-index: 1;
}
#header-h1-1
{
    font-size: 178px;
    left: 2rem;
    position: absolute;
    top: 3rem;
    color: white;
}
#header-sub1
{
    font-size: 39px;
    position: absolute;
    left: 90%;
    bottom: 0.4em;
}
#header-h1-2
{
    width: 50vw;
    position: absolute;
    left: 6rem;
    top: 18rem;
    color: white;
} 
#header-h1-3
{
    writing-mode: vertical-lr;
    text-orientation: upright;
    background: rgb(255 120 62 / 69%);
    border: 6px solid white;
    position: absolute;
    top: 5rem;
    right: 10rem;
    width: 6rem;
    color: white;
    font-size: 4rem;
}
/* three logos */
#logo1
{
    height: 5rem;
}
#logo2
{
    height: 5rem;
}
#logo3
{
    height: 5rem;
}
#logo4
{
    height: 5rem;
}
.li1
{
    float: right;
    list-style-type: none;
}
#ul1
{
    position: absolute;
    top: 35rem;
    left: 6rem;
}
#header-h1-4
{
    position: absolute;
    left: 5rem;
    top: 43rem;
    color: white;
    font-weight: 900;
    font-size: 11.5rem;
}
#header-h1-5
{
    position: absolute;
    left: 5rem;
    top: 54rem;
    color: white;
    font-weight: 100;
    font-size: 9rem;
}
#header-h1-6
{
    top: 65rem;
    position: absolute;
    left: 5.7rem;
    font-weight: 700;
    color: white;
}
#row2
{
    
    position: absolute;
    width: 100vw;
    height: 184vh;
    background-image: linear-gradient(to left, rgb(100 159 155 / 55%) 50%, rgba(255, 255, 255, 0)50%);
    z-index: 1;
    top: 43rem;
}
#header-line-3
{
    background: white;
    padding-top: 1rem;
    width: 1rem;
    top: 46.5rem;
    position: absolute;
    left: 2.8rem;
    height: 59rem;
}
#row2-h1
{
    font-size: 11rem;
    color: white;
    font-weight: 900;
    position: absolute;
    top: 26rem;
    left: 29rem;
}
#row2-p1
{
    color: white;
    width: 33.8rem;
    font-size: 29px;
    text-align: justify;
    line-height: 2rem;
    font-weight: 500;
    direction: rtl;
    position: absolute;
    top: 38rem;
    right: 5rem;
    border-bottom: 5px solid rgba(118,178,175,255);
    height: 18rem;
}

/* li 2 */
#ul2
{
    top: 56rem;
    position: absolute;
    left: 3.9rem;
    border-top: 5px solid rgba(81,127,123,255);
    width: 33.8rem;     
}
.li2
{
    list-style-type: none;
    /* float: right; */
    padding-left: 1rem;
    padding-top: 3rem;
}
#row2-h1-2
{
    position: absolute;
    top: 68rem;
    right: 8.7rem;
    font-size: 3rem;
    color: white;
}