/* image */
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
/* background image */
#mainimg
{
    height: 97vh;
    width: 77.5vw;
    position: absolute;
    top: 0;
    right: 0;
    /* z-index: 0; */
}
body
{
    /* z-index: 1; */
    position: relative;
    overflow-x:hidden ;
}
/* header line */
#header-line-1
{
    position: relative;
    padding-top: 1rem;
    background: white;
    padding-left: 76rem;
    top: 1rem;
    right: -29px;
}
#header-line-2
{
    position: relative;
    padding-top: 1rem;
    background: white;
    top: 2rem;
    width: 8rem;
    left: 29px;
}
#header-row-1
{
    position: absolute;
    width: 100vw;
    height: 130vh;
    background-image: linear-gradient(to right, rgb(255 120 62 / 69%) 60%, rgba(255, 255, 255, 0)40%);
    z-index: 1;
}
#header-h1-1
{
    font-size: 178px;
    left: 2rem;
    position: absolute;
    top: 3rem;
    color: white;
}
#header-sub1
{
    font-size: 39px;
    position: absolute;
    left: 90%;
    bottom: 0.4em;
}
#header-h1-2
{
    width: 50vw;
    position: absolute;
    left: 6rem;
    top: 18rem;
    color: white;
} 
#header-h1-3
{
    writing-mode: vertical-lr;
    text-orientation: upright;
    background: rgb(255 120 62 / 69%);
    border: 6px solid white;
    position: absolute;
    top: 5rem;
    right: 10rem;
}